<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Digital Epargne</title>
		{{ encore_entry_link_tags('front') }}
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Digital Epargne Service</h1>
				<div id="about">
					Programmme de gestion du service epargne dans une société.
				</div>
			</header>
			<div id="taux">
				<div class="taux">
					{{ taux.valueOfOne }}
					%</div>
				<div class="taux">{{ taux.valueOfTwo }}
					%</div>
				<div class="taux">{{ taux.valueOfThree }}
					%</div>
			</div>
			<div id="login">
				{% if not app.user %}
					<a href="{{ path('security_login')}}">Connectez-vous</a>
				{% else %}
					<a href="{{ path('person') }}">Cliquez ici pour entrer</a>
				{% endif %}
			</div>
		</div>


	</body>
</html></div>{{ encore_entry_script_tags('front') }}</body></html>
