{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<a href="{{ path('depot_new', {'id':proprietaire.id, 'id_morale':proprietaire.corporation}) }}" class="mb-2 btn btn-primary float-right">Ajouter un nouveau contrat</a>
		<p class="text-center"></p>
		<strong>Au nom de  :</strong>
		{{ proprietaire.name }}
	</p>
	{% if empty == true %}
		<p class="text-center text-danger m-5">
			Aucune dépot effectuée</p>
	{% else %}
		<table class="table table-info text-center">
			<thead>
				<tr>
					<th>Date de début</th>
					<th>Somme déposé</th>
					<th>Délai</th>
					<th>Taux</th>
					<th>Capitaux</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for depot in corporations %}
					<tr>
						<td>{{ depot }}</td>
						<td>{{ corporation.address }}</td>
						<td>
							<a href="/images/piece_person/{{ corporation.piecePerson }}" class="btn-sm btn-primary">Aperçu</a>
						</td>
						<td>
							<a class="btn-sm btn-success mr-2" href="">Voir la liste</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endif %}
</div>{% endblock %}
