{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<a href="{{ path('depot_new', {'id':proprietaire.id, 'id_morale':proprietaire.corporation}) }}" class="mb-2 btn-sm btn-success float-right">Ajouter un nouveau contrat</a>
		<p class="text-center"></p>
		<strong>Au nom de  :</strong>
		{{ proprietaire.name }}
	</p>
	{% if depots is empty %}
		<p class="text-center text-info m-5">
			Aucune dépot effectuée
		</p>
	{% else %}
		<table class="table table-bordered  text-center">
			<thead class="text-primary">
				<tr><th>Début</th><th>Fin</th><th>Somme</th><th>Pièce d'obtention</th><th>Délai</th><th>Taux</th><th>Capitaux</th><th></th></tr>
			</thead>
			<tbody class="text-info">
				{% for depot in depots %}
					<tr>
						<td>{{ depot.createdAt | date('d/m/Y') }}</td>
						<td>{{ depot.endDate | date('d/m/Y') }}</td>
						<td>{{ depot.fund.value }}
							MGA</td>
						<td>
							<a class="btn-sm btn-primary" href="/images/piece_obtaining/{{ depot.fund.pieceObtaining }}">Afficher</a>
						</td>
						<td>{{ depot.fund.duration }}
							ans</td>
						<td>{{ depot.taux }}
							%</td>
						<td>{{ depot.capitaux }}
							MGA</td>
						<td>
							{% if depot.isRetired is  null %}
								<a class="btn-sm btn-danger" href="{{ path('remove', {'id':depot.id})}}">Rétirer</a>
							{% else %}
								<a class="btn-sm btn-info" href="{{ path('show_retrait', {'fund':depot.fund.id})}}">Déja rétirer</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<a href="{% if proprietaire.corporation == 0 %} {{ path('person') }} {% else %} {{ path('corporation', {'id':proprietaire.id}) }} {% endif %}" class="btn-sm btn-primary">Retour</a>
</div>{% endblock %}
