{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<a href="{{ path('depot_new', {'id':proprietaire.id, 'id_morale':proprietaire.corporation}) }}" class="mb-2 btn btn-success float-right">Ajouter un nouveau contrat</a>
		<p class="text-center"></p>
		<strong>Au nom de  :</strong>
		{{ proprietaire.name }}
	</p>
	{% if empty is defined %}
		<p class="text-center text-danger m-5">
			Aucune dépot effectuée</p>
	{% else %}
		<table class="table table-dark text-center">
			<thead>
				<tr>
					<th>Début</th>
					<th>Fin</th>
					<th>Somme</th>
					<th>Pièce</th>
					<th>Délai</th>
					<th>Taux</th>
					<th>Capitaux</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for depot in depots %}
					<tr>
						<td>{{ depot.createdAt | date('d/m/Y') }}</td>
						<td></td>
						<td>{{ depot.fund.value }}
							MGA</td>
						<td>
							<a class="btn-sm btn-primary" href="/images/piece_obtaining/{{ depot.fund.pieceObtaining }}">Afficher</a>
						</td>
						<td>{{ depot.fund.duration }}
							ans</td>
						<td>{{ depot.taux }}
							%</td>
						<td>{{ depot.capitaux }}
							MGA</td>
						<td>
							{% if retraits is  empty %}
								<a class="btn-sm btn-danger" href="{{ path('remove', {'id':depot.id})}}">Rétirer</a>

							{% endif %}
							{% for retrait in retraits %}
								{% if retrait.fund.id == depot.fund.id %}
									<a class="btn-sm btn-secondary" href="{{ path('show_retrait', {'id':retrait.id})}}">Déja retiré</a>
								{% else %}
									<a class="btn-sm btn-danger" href="{{ path('remove', {'id':depot.id})}}">Rétirer</a>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<a href="{{ path('person') }}" class="btn-sm btn-primary">Retour au menu</a>
</div>{% endblock %}
