{% extends 'base.html.twig' %}

{% block title %}
	Epargne
{% endblock %}


{% block body %}
	<div class="container p-2">
		<div id="header-person">
			<form class="recherche" action="{{ path('person')}}">
				<input id="q" type="search" placeholder="Tapez le numéro de la CIN du personne" name="q">
				<button type="submit">
					<span class="fa fa-search text-white"></span>
				</button>
			</form>
		</div>
		{% if persons is empty %}
			<p class="text-center person_empty">Aucune personne dans la base de données</p>
		{% else %}
			<table class="table bg-white table-bordered text-center">
				<thead>
					<tr>
						<th>N°CIN</th>
						<th>Dépot(s)</th>
						<th>Personne morale associé(s)</th>
					</tr>
				</thead>
				<tbody>
					{% for person in persons %}
						<tr>
							<td>
								<a class="c-cin-btn" href="{{ path("person_show", {'id':person.id}) }}">{{ person.identity }}</a>
							</td>
							<td>
								<a class="btn-sm btn-success mr-2" href="{{ path("depot", {'id':person.id, 'id_morale':0}) }}">
									<i class="fa fa-paperclip"></i>
									Voir la liste</a>
							</td>

							<td>
								<a class="btn-sm btn-warning mr-2" href="{{ path("corporation", {'id':person.id}) }}">
									<i class="fa fa-paperclip"></i>
									Voir la liste</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
