{% extends 'layout/base.html.twig' %}

{% block title %}
	{{ persons.name }}
{% endblock %}

{% block body %}
	<div class="card container mt-2 p-0" id="show">
		<div class="card-header">
			<h5 class="text-center text-info">Information personnel</h5>
		</div>
		<div class="card-body">
			<table class="table bg-white table-bordered text-center">
				<tr>
					<th>Nom et prénom</th>
					<td>{{ persons.name }}</td>
				</tr>
				<tr>
					<th>Nationalité</th>
					<td>{{ persons.nationality }}</td>
				</tr>
				<tr>
					<th>Numéro d'identité</th>
					<td>{{ persons.identity }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ persons.address }}</td>
				</tr>
				<tr>
					<th>Telephone</th>
					<td>{{ persons.tel }}</td>
				</tr>
				<tr>
					<th>Adresse email</th>
					<td>{{ persons.email }}</td>
				</tr>
				<tr>
					<th>CIN recto</th>
					<td>
						<a href="/images/cin_recto/{{ persons.cinRecto }}">Cliquez pour voir</a>
					</td>
				</tr>
				<tr>
					<th>CIN verso</th>
					<td>
						<a href="/images/cin_verso/{{ persons.cinVerso }}">Cliquez pour voir</a>
					</td>
				</tr>
				<tr>
					<th>Certificat de résidence</th>
					<td>
						<a href="/images/certificat/{{ persons.certificat }}">Cliquez pour voir</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<style>
		th {
			font-size: 1.2em;
			text-align: right;
		}
		td {
			text-align: left;
			font-size: 1.2em;
		}
	</style>
{% endblock %}
