{% extends 'base.html.twig' %}

{% block title %}
	{{ persons.name }}
{% endblock %}

{% block body %}
	<div class="container mt-3 p-2" id="show">
		<table class="table bg-white table-bordered text-center">
			<tr>
				<th>Nom et prénom</th>
				<td colspan="2">{{ persons.name }}</td>
			</tr>
			<tr>
				<th>Nationalité</th>
				<td colspan="2">{{ persons.nationality }}</td>
			</tr>
			<tr>
				<th>Numéro d'identité</th>
				<td colspan="2">{{ persons.identity }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td colspan="2">{{ persons.address }}</td>
			</tr>
			<tr>
				<th>Telephone</th>
				<td colspan="2">{{ persons.tel }}</td>
			</tr>
			<tr>
				<th>Adresse email</th>
				<td colspan="2">{{ persons.email }}</td>
			</tr>
			<tr>
				<th>CIN recto</th>
				<td colspan="2">
					<a href="/images/cin_recto/{{ persons.cinRecto }}">Cliquez pour voir</a>
				</td>
			</tr>
			<tr>
				<th>CIN verso</th>
				<td colspan="2">
					<a href="/images/cin_verso/{{ persons.cinVerso }}">Cliquez pour voir</a>
				</td>
			</tr>
			<tr>
				<th>Certificat de résidence</th>
				<td colspan="2">
					<a href="/images/certificat/{{ persons.certificat }}">Cliquez pour voir</a>
				</td>
			</tr>
		</table>
		<a href="{{path('person') }}" class="btn btn-info mt-2">Retour</a>
	{% endblock %}
