{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}


{% block body %}
	{{ form_start(form) }}
	<div class="row">
		<div class="col-lg-6 col-md-6">
			{{ form_row(form.name) }}
		</div>
		<div class="col-lg-6 col-md-6">
			{{ form_row(form.nationality) }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			{{ form_row(form.identity) }}
		</div>
		<div class="col-lg-6 col-md-6">
			{{ form_row(form.address) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-7 col-md-7">
			<div>
				{{ form_row(form.cin_recto_file) }}
			</div>
			<div>
				{{ form_row(form.cin_verso_file) }}
			</div>
			<div>
				{{ form_row(form.certificat_file) }}
			</div>
		</div>
		<div class="col-lg-5 col-md-5">
			<div>
				{{ form_row(form.tel) }}
			</div>
			<div>
				{{ form_row(form.email) }}
			</div>
			<div class="mt-5">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}{% endblock %}
