{% extends 'base.html.twig' %}

{% block title %}
	Consultation des taux
{% endblock %}
{% block body %}
	<!--content-->
	<div
		class="row m-2 text-center">
		<!--part2-->
		<div class="col-12">
			<div class="card" id="card_taux">
				<div class="card-header" style="height:65px;">
					<form method="post" id="q_taux">
						<select name="year" id="year" class="form-control text-center">
							{% for year in years %}
								<option value="{{ year }} ">{{ year }}</option>
							{% endfor %}
						</select>
<<<<<<< HEAD

=======
>>>>>>> master
						<select id="month" name="month" class="form-control text-center">
							<option value="January">Janvier</option>
							<option value="February">Février</option>
							<option value="March">Mars</option>
							<option value="April">Avril</option>
							<option value="Mey">Mai</option>
							<option value="June">Juin</option>
							<option value="July">Juillet</option>
							<option value="August">Août</option>
							<option value="September">Septembre</option>
							<option value="October">Octobre</option>
							<option value="November">Novembre</option>
							<option value="December">Décembre</option>
						</select>
						<input type="submit" value="Chercher" class="btn btn-info">
					</form>
				</div>
				{% if data.error is defined %}
					<div class="alert alert-danger m-2 text-center">
						{{data.error}}
					</div>
				{% endif %}
				{% if data.result is defined %}
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-header">
										Un an
									</div>
									<div class="card-body">
										{{ data.result.valueOfOne }}
										%
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-header">
										Deux ans
									</div>
									<div class="card-body">
										{{ data.result.valueOfTwo }}
										%
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-header">
										Trois ans
									</div>
									<div class="card-body">
										{{ data.result.valueOfThree }}
										%
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<!--end part2-->
	</div>
	<!--end content-->
{% endblock %}
