{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<p> <strong>Personne :</strong> {{ persons.name }} </p>
		<p> <strong>N°CIN :</strong> {{ persons.identity }} </p>
		{{ form_start(form) }}
			{{form_widget(form) }}
			<div class="form-group m-2">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
				<a href="{{ path('person_corporation', {'id':persons.id}) }}" class="btn btn-secondary">Retour</a>
			</div>
		{{ form_end(form) }}
</div>{% endblock %}
