{% extends 'base.html.twig' %}
{% block body %}
	<div class="m-2">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="form-group">
					<label>Nom et prénom</label>
					<input type="text" class="form-control" value="{{ persons.name }}">
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<label>Nationalité</label>
				<input type="text" class="form-control" value="{{ persons.nationality }}">
			</div>
			<div class="col-lg-4 col-md-4">
				<label>Adresse</label>
				<input type="text" class="form-control" value="{{ persons.address }}">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<label>Numéro d'identité</label>
				<input type="text" class="form-control" value="{{ persons.identity }}">
			</div>
			<div class="col-lg-4 col-md-4">
				<label>Téléphone</label>
				<input type="text" class="form-control" value="{{ persons.tel }}"></div>
			<div class="col-lg-4 col-md-4">
				<label>Email</label>
				<input type="text" class="form-control" value="{{ persons.email }}"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4"></div>

		</div>
	</div>
{% endblock %}
