<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title> Digital-Epargne-Service </title>
      {{ encore_entry_link_tags('app') }}
      {% block stylesheets %}{{ encore_entry_link_tags('home') }}{% endblock %}
	</head>
	<body class="c-home-body">
    <nav class="navbar  navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a id="nav-brand" class="navbar-brand text-primary" href="{{ path('home') }}"> <span class="fas fa-cube" id="icone-nav"></span> Digital-Epargne-Service</a>
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            </ul>
            <a href="{{ path('entry')}}" class="c-entry-btn">Cliquez ici pour entrer</a>
        </div>
    </nav>
	  {{ encore_entry_script_tags('app') }}
      {% block javascripts %}{{ encore_entry_script_tags('home') }}{% endblock %}
	</body>
</html>
