<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<a id="nav-brand" class="navbar-brand text-primary" href="{{ path('home') }}">
			<span class="fas fa-cube" id="icone-nav" ></span>
			Digital-Epargne-Service</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto mb-2 mb-md-0">
				<li class="dropdown nav-item">
					<a href="#" class="nav-link dropdown-toggle {%if person_nav is defined %} active {%endif%}" data-toggle="dropdown"><span style="text-shadow:5px 3px 5px black;{%if person_nav is defined %}color:chartreuse;{%endif%}" class="fas fa-user"></span> Personnes</a>
					<div class="dropdown-menu">
						<a class="dropdown-item"  href="{{ path("person") }}">Voir la liste</a>
						<a class="dropdown-item"  href="{{ path("person_register") }}">Ajouter</a>
					</div>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="nav-link dropdown-toggle {%if rates_nav is defined %} active {%endif%}" data-toggle="dropdown"><span style="text-shadow:5px 3px 5px black;{%if rates_nav is defined %}color:chartreuse;{%endif %}" class="fas fa-percent"></span> Taux</a>
					<div class="dropdown-menu">
						<a class="dropdown-item"  href="{{ path("rates") }}">Consulter</a>
						<a class="dropdown-item"  href="{{ path("rates_new") }}">Ajouter</a>
					</div>
				</li>
			</ul>
			<form class="d-flex" action="{{ path('person')}}">
				<input style="margin-top:3px" class="form-control mr-2 mt-6" type="search" placeholder="Numéro de la CIN" aria-label="Search" name="q" id="id">
				<button class="btn btn-outline-success" type="submit">
					<span class="fas fa-search"></span>
				</button>
			</form>
			<a class="nav-link btn btn-outline-danger ml-1" aria-current="page" href="{{ path("users_logout") }}">
				<span class="fas fa-power-off"></span>
			</a>
		</div>
	</div>
</nav>
