{% extends 'base.html.twig' %}

{% block body %}
	<div class="card container p-0 mt-2" id="corporation">
		<div class="card-header" id="header-corporation">
			<p>
				<strong>Personne responsable:</strong>
				{{ persons.name }}</p>
			<p>
				<strong>N°CIN :</strong>
				{{ persons.identity }}
			</p>
			<a href="{{ path('corporation_register', {'id':persons.id}) }}" class="btn-sm btn-warning">Nouveau personne  morale</a>
		</div>
		<div class="card-body">
			{{ form_start(form) }}
			{{form_widget(form) }}
			<div id="btn-registration">
				<button type="submit" class="btn btn-success">Enregistrer</button>
				<a href="{{ path('corporation', {'id':persons.id}) }}" class="btn btn-default">Retour</a>
			</div>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}
